body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0%;
  background-color: #252323;
  border-width: 43;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  position: absolute;
  width: 100%;
  top: -8px;
  display: flex;
  justify-content: center;
}

nav ul {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.navbar_li {
  list-style-type: none;
  display: inline;
  font-size: large;
  font-size: 1.2rem;
}

a {
  color: aliceblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  font-family: "Libre Franklin";
}

h1 {
  font-family: "Questrial";
}

h3,h2 {
  font-family: "Questrial";
}

/* forskjellen mellom body og page body er at bare overflow x er hidden  */
.page_body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0%;
  background-color: #252323;
  border-width: 43;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* alle elements er wrapped rundt gradient for alle sider, funksjonen til gradient er for å lage en border rundt siden */
.gradient {
  background-image: linear-gradient(to right, #469250, #25c03a);
  height: 88vh;
  width: 90%;
}

/* class til div element som holder siden sammen  */
.frontpage_group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 85%;
  padding: 50px;
}

.frontpage_left_block {
  display: flex;
  flex-direction: column;
  width: 38%;
  justify-content: space-evenly;
}

.frontpage_card_list {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 50px;
}

.card_btn {
  background-color: #3b52b8;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* viktig fordi cards er ganske små og read more knappen vil ende opp utenfor card elementen */
.card_subject h3 {
  line-height: 1;
}

.article_group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  height: 100%;
  box-sizing: border-box;
}

.article_block {
  width: 43%;
  background-color: aliceblue;
  padding-left: 5px;
  padding-right: 5px;
}

/* dropdown source: w3 schools */
.dropdown {
  position: relative;
}

.dropbtn {
  background-color: #252323;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Z index er for å holde teksten på toppen av skjermen */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #0a0a0a;
  text-decoration: underline;
}

@font-face {
  font-family: "Questrial";
  src: url("../font/Questrial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../font/LibreFranklin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin Italic";
  src: url("../font/LibreFranklin-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
